.TimeLine {
    position: relative;
    overflow-x: scroll;
    background: #a5a5a5; /* Main area background */
    user-select: none;
}
.TimeLine-Scroll {
    width: max-content;
    min-width: 100%;
}
.TimeLine-Row {
    display: flex;
    flex-flow: row nowrap;
    flex: none;
    min-width: 100%;
    height: 20px;
}
.TimeLine-Row--Top {
    background: #c0c0c0; /* Top ruler background */
    position: sticky;
    top: 0;
    z-index: 3;
}
.TimeLine-Row--Top .TimeLine-RowCells {
    background-repeat: no-repeat, no-repeat;
    background-position: 0 6px, 0 14px;
}
.TimeLine-RowName {
    position: sticky;
    flex: 0 0 120px;
    z-index: 5;
    left: 0;
    width: 200px;
    background: #c0c0c0; /* Left column (names) background */
    padding: 2px;
}
.TimeLine-RowRuler {
    z-index: 1;
    width: 1px;
    background: #101010;
}
.TimeLine-RowCells {
    position: relative;
    display: flex;
    width: 100%;
    height: 20px;
    flex-flow: row nowrap;
}
.TimeLine-Cell {
    padding: 5px 0;
    text-align: center;
    position: absolute;
    height: 5px;
}
.TimeLine-Activity {
    position: absolute;
    height: 3px;
    text-align: center;
}
.TimeLine-RulerCell {
    text-align: left;
    position: absolute;
    padding-left: 2px;
}
.TimeLine-POI {
    transform: translateX(-50%);
    position: absolute;
    display: inline-block;
    z-index: 4;
}
