.window {
  position: absolute;
  top: 80px;
  background-color: #f0f0f0;
  border-radius: 8px 8px 0 0;
  box-shadow: 8px 8px 6px -6px black;
  overflow: hidden;
  cursor: default;
  display: flex;
  flex-flow: column;
}

.windowTitle {
  font-weight: bold;
  font-size: 18;
  padding: 4px 4px 4px 8px;
  position: relative;
  bottom: 2px;
  background-color: #00f0f0;
  user-select: none;
  margin-bottom: 0;
  flex: 0 1 auto;
}

.windowTitleInactive {
  opacity: 25%;
}

.windowContent {
  flex: 1 1 auto;
  min-height: 0;
  overflow: hidden;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.tabs {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.tabBar {
  width: 100%;
  flex: 0 1 auto;
  overflow: hidden;
  background-color: #a0a0a0;
}

.tabItem {
  float: left;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 2px;
  border-radius: 5px 5px 0 0;
  border-left: 1px solid rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-right: 1px solid rgba(0, 0, 0, 1);
  user-select: none;
}

.tabSpacer = {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  background-color: #a0a0a0;
  width: auto;
  float: left;
  overflow: hidden;
}

.tabUnselected {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  background-color: #808080;
}

.tabSelected {
  border-bottom: 1px solid #a0a0a0;
  background-color: #a0a0a0;
}

.tabPageContainer {
  background-color: #a0a0a0;
  flex: 1;
  min-height: 1px;
}

.tabPage {
  flex: 0 1 auto;
  white-space: nowrap;
}
